
spring-jdbc-example/src/main/java/kr/or/connect/config/*
spring-jdbc-example/target/classes/kr/or/connect/config/*

spring-layered-architecture-example/spring-layered-architecture-example/src/main/java/kr/or/connect/guestbook/config/*

spring-layered-architecture-example/spring-layered-architecture-example/target/classes/kr/or/connect/guestbook/config/*
spring-layered-architecture-example/spring-layered-architecture-example/target/spring-layered-architecture-example/WEB-INF/lib/*
spring-layered-architecture-example/spring-layered-architecture-example/target/spring-layered-architecture-example/WEB-INF/classes/kr/or/connect/guestbook/config/*
*.idb
*.pdb
*.db
*.db-shm
*.db-wal
*.ilk
*.opendb
*.ipch
*.recipe
*.log
*.tlog
*.vcxproj
*.filters
*.user
c++-univ-lecture/CppPrj/.vs/CppPrj/v16/.suo
*.yaml
*.yaml
*.sln
*.yaml
*.html
*.yaml
*.html
*.yaml
*.storageData
*.storageRecordIndex
*.lib
*.dll
*.xml
*.exe
computer-graphics-univ-lecture/Practice/packages
computer-graphics-univ-lecture/Practice/.vs/Practice/v16/.suo
*.pyc
*.cfg
python-jetbrains-academy-for-beginners/Simple Chatty Bot/.idea/VirtualEnvironment/Lib/site-packages/setuptools-47.1.0.dist-info/INSTALLER
python-jetbrains-academy-for-beginners/Simple Chatty Bot/.idea/VirtualEnvironment/Lib/site-packages/setuptools-47.1.0.dist-info/LICENSE
python-jetbrains-academy-for-beginners/Simple Chatty Bot/.idea/VirtualEnvironment/Lib/site-packages/setuptools-47.1.0.dist-info/METADATA
*.iml
