
spring-jdbc-example/src/main/java/kr/or/connect/config/*
spring-layered-architecture-example/src/main/java/kr/or/connect/guestbook/config/*

spring-jdbc-example/target/classes/kr/or/connect/config/*
spring-layered-architecture-example/target/classes/kr/or/connect/guestbook/config/*